extends layout

block content
  h1= title
  h2 Search for Stuff
  form.form-inline(role='form' action='search' method="get")
    div.form-group
      input#input-terms.form-control(type='text' name='terms')
    div.form-group
      button.btn.btn-primary(type='submit') Search
  if terms
    h3 !{terms} results...
    for result in results
      h4
        a(href='http://google.com/?#q=#{result}')= result
